body {
    background-color: thistle;
}

form {
}

input[type=text]{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 10px;
    box-sizing: border-box;
}

input[type=email]{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 6px;
    box-sizing: border-box;
}

input[type=fone]{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 18px;
    box-sizing: border-box;
}

label {
    text-align: left;
}

input[type=submit] {
    border-radius: 4px;
    font-size: 5ch;
    padding: 10px;
}

a:hover {
    background-color: darkred;
    color: white;
}