table, td, th, tr {
	border: 1px black solid;
	border-color: darkgray;
}

table {
	background-color: darkred;
	color: white;
}

th {
	padding: 30px;
}

td {
	text-align: center;
}

a:hover {
	background-color: darkred;
	color: white;
}